<div ng-controller="AddSpec" ng-init="initAddSpec()">
    <div id="float-action" fab-float>
        <a ui-sref="v2">
            <md-button class="md-fab md-accent" aria-label="Home">
                <md-icon md-svg-src="/img/home.svg"></md-icon>
            </md-button>
        </a>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Specify">
            <md-content class="md-padding">
                <div layout="row" layout-align="center center" style="padding-top: 30px;">
                    <md-whiteframe layout="row" flex-sm="85" flex-gt-sm="66" class="md-whiteframe-z3 md-accent" layout="row" style="padding:40px;c">
                        <div id="slider-titles" hide-sm flex="20" layout="column">
                            <div layout="row md-icon-float" ng-click="oneClicked()">
                                <a ui-sref="v2add.desg">
								<md-input-container class="md-icon-float">
                                    <label class="md-subhead custom">Designation</label>
                                    <md-icon md-font-library="material-icons" class="md-accent md-24">perm_contact_calendar</md-icon>
                                </md-input-container>
								</a>
                            </div>
                            <div layout="row md-icon-float" ng-click="twoClicked()">
                                <a ui-sref="v2add.loc">
                                    <md-input-container class="md-icon-float">
                                        <label class="md-subhead custom">Location</label>
                                        <md-icon md-font-library="material-icons" class="md-accent md-24">pin_drop</md-icon>
                                    </md-input-container>
                                </a>
                            </div>
                            <div layout="row md-icon-float" ng-click="threeClicked()">
								<a ui-sref="v2add.spec">
                                <md-input-container class="md-icon-float">
                                    <label class="md-subhead custom">Spec</label>
                                    <md-icon md-font-library="material-icons" class="md-accent md-24">assignment</md-icon>
                                </md-input-container>
								</a>
                            </div>
                            <div layout="row md-icon-float" ng-click="fourClicked()">
                                <a ui-sref="v2add.comments">
								<md-input-container class="md-icon-float">
                                    <label class="md-subhead custom">Comments</label>
                                    <md-icon md-font-library="material-icons" class="md-accent md-24">comment</md-icon>
                                </md-input-container>
								</a>
                            </div>

                        </div>
                        <div layout="column" id="slider">
                            <div id="line" class={{lineClass}}>
                            </div>
                        </div>
                        <div ui-view="subView"></div>
                    </md-whiteframe>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>