<div id="section-1" layout="column" ng-init="initDesg()">
    <div layout="row">
        <md-input-container class="big">
            <label>Company Name</label>
            <input name="data.company" ng-model="data.company" ng-blur="companyNameChange()" required>
            <div ng-messages="companyName.$error" ng-show="companyName.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="big">
            <label>Role</label>
            <input name="data.role" ng-model="data.role" required>
            <div ng-messages="role.$error" ng-show="role.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="big">
            <label>Corporate Title</label>
            <input name="data.ct" ng-model="data.ct">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="big">
            <label>Compensation</label>
            <input name="data.comp" ng-model="data.comp" required>
            <div ng-messages="ct.$error" ng-show="ct.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div class="tab-toolbar" flex layout="row">
        <a ui-sref="v2add.loc">
            <md-button class="md-raised">Next</md-button>
        </a>
    </div>

</div>