<div flex ng-controller="SpecsCtrl" ng-init="initSpecs()">
    <div id="float-action" fab-float>
        <a ui-sref="v2add">
            <md-button class="md-fab md-accent" aria-label="Add Spec">
                <md-icon md-svg-src="/img/note_add.svg" style="color: greenyellow;"></md-icon>
            </md-button>
        </a>
    </div>
    <md-tabs flex layout="column" md-dynamic-height md-border-bottom md-center-tabs=false>
        <md-tab md-on-select="tabSelected('dashboard')">
            <md-tab-label><span>dashboard</span><span ng-if="currDraftDelta>0" class="badge badge-error">{{currDraftDelta}}</span>
            </md-tab-label>
            <md-tab-body>
                <md-content flex class="md-padding">
                    <div ui-view="dashboard">
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab md-on-select="tabSelected('live')">
            <md-tab-label><span>specs</span><span ng-if="currLiveDelta>0 && draftLoaded" class="badge badge-error">{{currLiveDelta}}</span>
            </md-tab-label>
            <md-tab-body>
                <md-content flex class="md-padding">
                    <div ui-view="live">
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab md-on-select="tabSelected('leaderboard')">
            <md-tab-label><span>leaderboard</span><span ng-if="currDraftDelta>0" class="badge badge-error">{{currDraftDelta}}</span>
            </md-tab-label>
            <md-tab-body>
                <md-content flex class="md-padding">
                    <div ui-view="leaderboard">
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>

    </md-tabs>
</div>
