<div flex ng-controller="SpecsCtrl" ng-init="initSpecs()">
    <div id="float-action" fab-float>
        <a ui-sref="v2add">
            <md-button class="md-fab md-accent" aria-label="Add Spec">
                <md-icon md-svg-src="/img/note_add.svg" style="color: greenyellow;"></md-icon>
            </md-button>
        </a>
    </div>
    <md-tabs flex layout="column" md-dynamic-height md-border-bottom>
        <md-tab md-on-select="tabSelected('live')">
            <md-tab-label><span>live </span><span ng-if="currLiveDelta!=0" class="badge badge-error">{{currLiveDelta}}</span>
            </md-tab-label>
            <md-tab-body>
                <md-content flex class="md-padding">
                    <div flex layout="row" layout-sm="column">
                        <div flex-gt-sm="75" layout="column">
                            <div layout="row" layout-sm="column" layout-wrap>
                                <md-card ng-repeat="spc in specs|filter:{status:'live'}" flex-gt-sm="20">
                                    <img ng-src="/img/md-card-img.png" class="md-card-image" alt="Washed Out">
                                    <md-card-content>
                                        <h2 class="md-title">{{spc.sid}}</h2>
                                        <p>
                                            {{spc.sid}}
                                        </p>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end center">
                                        <md-button ng-click="deleteSpec(spc.sid)">Delete</md-button>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                        <md-whiteframe class="md-whiteframe-z3" flex="25" layout="column" layout-align="center center" hide-sm ng-init="initMultiDropzone()">
                            <div flex style="min-height:500px;width:100%;overflow-y:auto;" layout-wrap layout="row" id="multidropzone" class="dropzone">
                                <div class="dz-message"></div>
                            </div>
                        </md-whiteframe>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab md-on-select="tabSelected('draft')">
            <md-tab-label><span>draft </span><span ng-if="currDraftDelta!=0" class="badge badge-error">{{currDraftDelta}}</span>
            </md-tab-label>
            <md-tab-body>           
            <md-content flex class="md-padding">
                <div flex layout="row" layout-sm="column">
                    <div flex-gt-sm="75" layout="column">
                        <div layout="row" layout-sm="column" layout-wrap>
                            <md-card ng-repeat="spc in specs|filter:{status:'draft'}" flex-gt-sm="20">
                                <img ng-src="/img/md-card-img.png" class="md-card-image" alt="Washed Out">
                                <md-card-content>
                                    <h2 class="md-title">{{spc.sid}}</h2>
                                    <p>
                                        {{spc.sid}}
                                    </p>
                                </md-card-content>
                                <div class="md-actions" layout="row" layout-align="end center">
                                    <md-button ng-click="deleteSpec(spc.sid)">Delete</md-button>
                                    <a ui-sref='v2add({specId:spc.sid})'>
                                        <md-button class="md-primary">Specify</md-button>
                                    </a>
                                </div>
                            </md-card>
                        </div>
                    </div>
                    <md-whiteframe class="md-whiteframe-z3" flex="25" layout="column" layout-align="center center" hide-sm ng-init="initMultiDropzone2()">
                        <div flex style="min-height:500px;width:100%;overflow-y:auto;" layout-wrap layout="row" id="multidropzone-2" class="dropzone">
                            <div class="dz-message"></div>
                        </div>
                    </md-whiteframe>
                </div>
            </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab label="inbox">
            <md-content class="md-padding">
            </md-content>
        </md-tab>
    </md-tabs>
</div>
