<style>
  #pipeline h1{
    text-align:center;
  }
</style>
<md-content id="pipeline" layout="column">  
  <div layout="row" layout-wrap>
    <div dnd-list="sourced" flex="33">
      <h1 class="md-title">Sourced</h1>
      <md-card   ng-repeat="item in sourced" 
                 dnd-draggable="item" dnd-moved="sourced.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="selected.sourced = item" 
                 layout="row" style="margin:20px;padding:10px;">
        <div style="background:url({{item.img}}) no-repeat;background-size:100% 100%;" class="circular-image-sm m-lr-10"></div>
        <div flex="40">
          <p>{{item.first_name}} {{item.last_name}}</p>  
        </div>        
        <div flex>        
        </div>
        <div flex="10" style="margin-top:15px;">
          <md-icon md-font-icon="material-icons" class="md-36">navigate_next</md-icon>
        </div>
      </md-card>
    </div>
    <div dnd-list="engaged" flex="33">
      <h1 class="md-title">Engaged</h1>
      <md-card ng-repeat="item in engaged" 
               dnd-draggable="item" dnd-moved="engaged.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="selected.engaged = item"                
               layout="row" style="margin:20px;padding:10px;">
        <div style="background:url({{item.img}}) no-repeat;background-size:100% 100%;" class="circular-image-sm m-lr-10"></div>
        <div flex="40"><p>{{item.first_name}} {{item.last_name}}</p></div>
        <div flex>        
        </div>
        <div flex="10" style="margin-top:15px;">
          <md-icon md-font-icon="material-icons" class="md-36">navigate_next</md-icon>
        </div>        
      </md-card>
    </div>
    <div dnd-list="triggered" flex="33">
      <h1 class="md-title">Triggered</h1>
      <md-card ng-repeat="item in triggered" 
               dnd-draggable="item" dnd-moved="triggered.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="selected.triggered = item"             
               layout="row" style="margin:20px;padding:10px;">
        <div style="background:url({{item.img}}) no-repeat;background-size:100% 100%;" class="circular-image-sm m-lr-10"></div>
        <div flex="40"><p>{{item.first_name}} {{item.last_name}}</p></div>
      </md-card>     
    </div>
  </div>
</md-content>