<md-content layout="column">
  <md-card>
    <md-data-table-toolbar ng-show="!filter.show && !selected.length" style="padding-bottom:20px;">
      <h2 style="font-size:16px;padding-right:20px;" class="md-title">Live Candidate Dashboard:</h2>
      <md-select style="font-size:16px;padding-right:20px" md-accent placeholder="Select Spec" ng-model="userState">
        <md-option ng-repeat="state in states" value="{{state.value}}">{{state.display}}</md-option>
      </md-select>
      <md-checkbox style="font-size:12px;" ng-model="data.cb1" aria-label="Online Only">
        Show Online Candidates Only
      </md-checkbox>
      <md-checkbox style="font-size:12px;" ng-model="data.cb1" aria-label="Online Only">
        Show Only Interested Candidates
      </md-checkbox>      
      <div flex></div>
      <button class="md-icon-button md-button md-default-theme" ng-click="filter.show=true" tabindex="0">
        <i class="material-icons md-dark ng-scope">search</i>
        <div class="md-ripple-container"></div>
      </button>
    </md-data-table-toolbar>
    <md-data-table-toolbar ng-show="filter.show && !selected.length" class="ng-scope ng-hide" aria-hidden="true">
      <i class="material-icons md-dark">search</i>
      <form flex name="filter.form">
        <input style="width:100%;border:none;" type="text" ng-change="filterItems(filter.value)" ng-model="filter.value" ng-model-options="filter.options" placeholder="search" tabindex="0" aria-invalid="false">
      </form>
      <button class="md-icon-button md-button md-default-theme" ng-click="removeFilter()" tabindex="0">
        <i class="material-icons md-dark ng-scope">close</i>
        <div class="md-ripple-container"></div>
      </button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="selected.length">
      <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
    </md-data-table-toolbar>
    <md-data-table-container>
      <table md-data-table md-row-select="selected">
        <thead md-order="query.order">
          <tr>
            <th order-by="candidate">Candidate</th>
            <th order-by="send">Spec Sent</th>
            <th order-by="open">Spec Opened</th>
            <th order-by="click">Candidate Response</th>
            <th order-by="click">Candidate Online</th>
            <th order-by="spam">Next Actions</th>
          </tr>
        </thead>
        <tbody md-auto-select>
          <tr ng-repeat="ivt in userSpecInvites | orderBy: query.order | filter: skip | limitTo: query.limit">
            <td>{{ivt.cname}}</td>
            <td>{{sentVal(ivt)}} days ago</td>
            <td ng-if='ivt.click == "Not Interested" || ivt.click == "No Response"'>No</td>
            <td ng-if='ivt.click != "Not Interested" && ivt.click != "No Response"'>Yes</td>
            <td>{{ivt.click}}</td>
            <td ng-if='ivt.click == "Not Interested" || ivt.click == "No Response"'>
              <md-icon md-font-icon="material-icons">chat</md-icon>
            </td>
            <td ng-if='ivt.click != "Not Interested" && ivt.click != "No Response"'>
              <md-icon md-font-icon="material-icons" ng-class="{mdAccent:ivt.online=='Online'}">chat</md-icon>
            </td>  
            <td>  
              <md-icon md-font-icon="material-icons" ng-class="{mdAccent:ivt.click=='No Response'}" class="">autorenew</md-icon>
              <md-icon md-font-icon="material-icons" ng-class="{mdAccent:ivt.click=='Call Back Requested'}">backup</md-icon>
              <md-icon md-font-icon="material-icons" ng-class="{mdAccent:ivt.click=='Resume Uploaded'}">bookmark</md-icon>
              <md-icon md-font-icon="material-icons" ng-class="{mdAccent:ivt.click == 'Scrolled 80%' || ivt.click == 'Scrolled 60%'}">call</md-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-toolbar layout-align="end">
      <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{userSpecInvitesCount}}"></md-data-table-pagination>
    </md-data-table-toolbar>
  </md-card>
</md-content>