<div flex layout="row" layout-sm="column">
    <div flex-gt-sm="75" layout="column">
        <div ng-if="currentUser == null" layout="row">
            <span>You're Specs are currently Public as you're not Logged In!</span>
        </div>
        <p>Live</p>
        <div layout="row" layout-sm="column" layout-wrap>            
            <md-card ng-repeat="spc in specs|filter:{status:'live'}" flex-gt-sm="20">
              <p class="location">{{spc.location.location}}</p>    
              <img class="md-card-image" alt="/img/md-card-img.png" ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{spc.location.lat}},{{spc.location.lng}}&amp;size=197x106&amp;sensor=true&amp;zoom=15&amp;scale=1">
                <md-card-content>
                    <p class="md-title">{{spc.designation.role}}</p>
                    <p class="md-subhead">{{spc.designation.ct}} | {{spc.designation.companyName}}</p>
                    <p class="md-subhead">{{spc.designation.comp}} p.a.</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-click="sendSpec($event, spc.sid)" class="md-accent md-icon-button" aria-label="delete">
                        <md-icon md-font-library="material-icons" class="md-18">email</md-icon>
                    </md-button>
                    <md-button ng-click="makeDraft(spc.sid)" class="md-icon-button" aria-label="delete">
                        <md-icon md-font-library="material-icons" class="md-18">edit</md-icon>
                    </md-button>
                    <md-button ng-click="deleteSpec(spc.sid)" class="md-icon-button" aria-label="delete">
                        <md-icon md-font-library="material-icons" class="md-18">delete</md-icon>
                    </md-button>
                </div>
            </md-card>
        </div>
        <hr/>
        <p>Draft</p>
        <div layout="row" layout-sm="column" layout-wrap>            
            <md-card ng-repeat="spc in specs|filter:{status:'draft'}" flex-gt-sm="20">
                <img ng-src="/img/md-card-img.png" class="md-card-image" alt="Washed Out">
                <md-card-content>
                    <h2 class="md-title">{{spc.sid}}</h2>
                    <p>
                        {{spc.sid}}
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <a ui-sref='v2add({specId:spc.sid})'>
                        <md-button class="md-primary md-accent">Speckify</md-button>
                    </a>
                    <md-button ng-click="deleteSpec(spc.sid)">Delete</md-button>
                </div>
            </md-card>
        </div>
    </div>
    <md-whiteframe class="md-whiteframe-z3" flex="25" layout="column" layout-align="center center" hide-sm ng-init="initMultiDropzone()">
        <div flex style="min-height:500px;width:100%;overflow-y:auto;border:none;" layout-wrap layout="row" id="multidropzone" class="dropzone dropzone-previews">
            <div class="dz-message" style="margin:auto;">
                <h2 class="md-subhead">Drop your Word Specs here <br> or Click to Upload</h2>
                <a class="md-clicker" href="#">
                    <md-icon style="height:60px;width:60px;" md-font-library="material-icons" class="md-dark md-48">cloud_upload</md-icon>
                </a>
                <p class="md-body-1" style="padding:10px;">(only *.docx format supported)
                    <md-icon ng-click="showDocxHelp($event)" md-font-library="material-icons" class="md-dark md-18">help_outline</md-icon>
                </p>
            </div>
        </div>
    </md-whiteframe>
</div>