<div flex layout="row" layout-sm="column">
  <md-card ng-repeat="list in userLists" flex-gt-sm="20">    
    <img class="md-card-image" alt="/img/md-card-img.png" ng-src="/img/md-card-img.png">
    <md-card-content>
      <p class="md-title"><a ui-sref="v2.lists.details({id:list.sid})">{{list.name}}</a></p>
      <p class="md-subhead">{{list.summary}}</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-click="sendSpec($event, list.sid)" class="md-accent md-icon-button" aria-label="delete">
        <md-icon md-font-library="material-icons" class="md-18">email</md-icon>
      </md-button>
      <md-button ng-click="deleteSpec(list.sid)" class="md-icon-button" aria-label="delete">
        <md-icon md-font-library="material-icons" class="md-18">delete</md-icon>
      </md-button>
    </div>
  </md-card>
</div>