<div class="row">
	<div class="col-lg-6">
		
	</div>
	<div class="col-lg-6"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" data-ng-controller="EditorCtrl" data-ng-init="initEditor()">
		<button ng-click="specLive()" class="ladda-button" data-style="expand-right"><span class="ladda-label">Save</span></button>
        <div id="toolbar">
            <!-- Add font size dropdown -->
            <select class="ql-size">
                <option value="10px">Small</option>
                <option value="13px" selected>Normal</option>
                <option value="18px">Large</option>
                <option value="32px">Huge</option>
            </select>
            <!-- Add a bold button -->
            <button class="ql-format-button ql-bold"></button>
			<button class="ql-format-button ql-italic"></button>
			<button class="ql-format-button ql-strike"></button>
			<button class="ql-format-button ql-link"></button>
			<button class="ql-format-button ql-underline"></button>			
			<button class="ql-format-button ql-bullet"></button>
			<button class="ql-format-button ql-list"></button>
        </div>

        <!-- Create the editor container -->
        <div id="editor">
            <div>Hello World!</div>
            <div>Some initial <b>bold</b> text</div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

