/*
    Document   : jobster/public/invite-css/invite.css
    Created on : 2015-05-22 10:32 AM
    Author     : niravshah
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
 .ml-20 {
    margin-left : 20px;
}

.mt-20 {
    margin-top : 20px;
}

.mt-10 {
    margin-top : 10px;
}



