<div ng-controller="ChatCtrl">
    <div id="chat-badge" ng-click="togglePanel()" style="background:url('/img/chat.png');background-size: 50px 50px;width:50px;height:50px;float:right;" ng-show="showBadge">
    </div>
    <div class="panel panel-primary" ng-show="showPanel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Specky Chat
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="togglePanel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <ul class="chat">
                <li ng-repeat="msg in msgs" ng-class-odd="'left clearfix'" ng-class-even="'right clearfix'">
                    <span ng-class-odd="'chat-img pull-left'" ng-class-even="'chat-img pull-right'">
                            <img ng-src={{msg.imgSrc}} alt="User Avatar" class="img-circle" />
                        </span>
                    <div class="chat-body clearfix">
                        <div ng-if="$even" class="header">
                            <strong class="primary-font">{{msg.uname}}</strong>  <small class="pull-left text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{msg.time}}</small>
                        </div>
                        <div ng-if="$odd" class="header">
                            <small class="text-muted">
                         <span class="glyphicon glyphicon-time">{{msg.time}}</span></small>
                            <strong class="pull-right primary-font">{{msg.uname}}</strong>
                        </div>

                        <p>
                            {{msg.message}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" ng-model="msgToSend" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage();">
                                Send</button>
                        </span>
            </div>
        </div>
    </div>
</div>