<html lang="en" ng-app="StarterApp">

<head>
  <title>Specky Invite</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/invite-css/font-lineicons.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />
  <style>
    .circular-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background: url(https://randomuser.me/api/portraits/med/women/54.jpg) no-repeat;
      background-size: 100% 100%;
      margin:10px auto;
    }
    #curator p {
      margin:10px auto;
      text-align:center;
      font-size:14px;
      font-weight:400;
    }
    #file-input {
      display:none;
    }
    .apply.sticky {
      position:fixed;
      top:0px;
    }
    .apply {
      background:rgba(60, 63, 64, 0.9);
      right:20px;
      width:400px;
      height:350px;
      z-index:99;
    }
    .apply.non-sticky {
      position:absolute;
      top:100px;
    }
    .toolbar {
      position:fixed;
      top:0px;
      width:100%
    }
    .toolbar.hide {
      display:none;
    }
    .toolbar.show {
      display:block;
    }
    .chatNow {
      position:fixed;
      bottom:20px;
      left:40px;
    }
    .desig {
      color:#FFFFFF;
      position:absolute;
      bottom:20px;
      left:20px;
      font-weight:normal;
    }
    .md-9 {
      font-size: 9px;
    }
    
    .md-18 {
      font-size: 18px;
    }
    .md-24 {
      font-size: 24px;
    }
    .md-36 {
      font-size: 36px;
    }
    .md-48 {
      font-size: 48px;
    }
    #features p {
      margin:20px auto;
      text-align:center;
      font-size:14px;
      font-weight:400;
    }
  </style>
</head>

<body layout="row" ng-controller="AppCtrl">
  <div layout="column" style="position:relative;width:100%;height:1200px;" id="content">
    <!-- Header -->
    <div id="header" layout="row" style="height:150px;position:relative;background:url('/img/low_poly_background.jpg'),no-repeat;">
      <div class="desig">
        <h1 style="font-family: 'Roboto', sans-serif;font-weight:500;margin-bottom:5px;">Design & Development Engineer</h1>
        <h3 style="font-family: 'Roboto', sans-serif;font-weight:300;margin-top:0px;">BlueRock Solutions Ltd.</h2>
      </div>
    </div>
    <!-- END Header -->
    
    <!-- Curator -->
    <div layout="row" style="height:200px;position:relative;background:#FFFFFF">
      <div id="curator" layout="column" flex="15">
        <div class="circular-image"></div>
        <p>Speck curated By<br/><span style="color:rgb(255,64,129);font-size:16px;">Beth McGuire</span><br/>Talent Star Recruitment</p>
      </div>
      <div layout="column" flex="60">
        <div id="features" layout="row" flex>
          <div layout="column" flex="20">
            <md-icon class="md-accent md-48 icon-seo-icons-38"></md-icon> 
            <p>Best In-Class<br/>Remuneration</p>
          </div>           
          <div layout="column" flex="20">
             <md-icon class="md-accent md-48 icon-arrows-37"></md-icon>
             <p>Strong Career<br/>Propspects</p>
          </div>  
          <div layout="column" flex="20">
             <md-icon class="md-accent md-48 icon-medical-10"></md-icon>
             <p>Great<br/>Benefits</p>
          </div>          
          <div layout="column" flex="20">
              <md-icon class="md-accent md-48 icon-education-science-03"></md-icon>             
              <p>Regular<br/>Training</p>
          </div>            
        </div>
      </div>
    </div>  
    <!-- END Curator -->
    <!-- Curator Comment -->
    <div id="curatorsComments" layout="row" style="background:rgba(60, 63, 64, 0.9);">    
      <div flex="60" layout="column" style="padding:20px;"> 
        <div flex layout="row">
          <span style="display:block;">
            <md-icon class="md-accent md-36 icon-office-40"></md-icon>
          </span>
        </div>         
        <div flex layout="row">        
          <p style="display:block;color:#FFFFFF">This role can be perfect for <span style="color:rgb(255,64,129)">Sebastian</span> as it would give him the oppurtunity to use his existing web skills and make the most of his people skills to become an integral part of a diverse collaborative team. - Beth</p>
        </div>        
     </div>
      <div flex="40" layout="column" style="background:#a3a3a3;padding:20x;">
      </div>
    </div>    
    <!-- END Curator Comment -->
    <!-- Speck -->
    <div layout="row" flex style="background:#c1bfbf;">
      <!-- Content Left Column -->
      <div layout="column" flex="60" style="padding:20px;">
        <div layout="row">          
          <p><span style="color:rgb(255,64,129)">About BlueRock</span></p>
        </div>
        <div layout="row" >     
          <p style="text-align:justify;">BlueRock is one of the world’s preeminent asset management firms and a premier provider of global investment management, risk management and advisory services to institutional, intermediary and individual investors around the world. BlueRock offers a range of solutions — from rigorous fundamental and quantitative active management approaches aimed at maximizing outperformance to highly efficient indexing strategies designed to gain broad exposure to the world’s capital markets. Our clients can access our investment solutions through a variety of product structures, including individual and institutional separate accounts, mutual funds and other pooled investment vehicles, and the industry-leading iShares® ETFs.</p>
        </div>
        <div layout="row">
          <hr flex/>
        </div>        
        <div layout="row">
          <p><span style="color:rgb(255,64,129)">Key Job Responsibilities:</span></p>
        </div>
        <div layout="row">
          <p style="text-align:justify;">The FIRID team work closely with the FMBI Researchers to develop and enhance the product suite. The development team is encouraged to learn and understand the Fixed Income business, and the role Research plays, so that they can participate in complex discussions with the business leads. This ensures that BlueRock technology is developed to an extremely high standard and is aligned closely with business requirements. Key focus areas are:<p>
        </div>
        <div layout="row">
         <ul>
            <li>Data management </li>
            <li>Production support</li>
            <li>Research Model implementation</li>
            <li>Tools development </li>
            <li>Advisory</li>
          </ul>
        </div>
        <div layout="row">
          <hr flex/>
        </div>
      </div>
      <!-- END Content Left Column -->      
      <!-- Content Right Column -->
      <div flex="40" layout="column" style="background:#a3a3a3;">
        <!-- Team Comment -->
        <div id="teamsComments" layout="row" style="padding:20px;background:rgba(60, 63, 64, 0.9);">
          <div flex layout="column">
            <div layout="row" style="float:left;width:100%">
              <span style="clear:left;display:block;">
                <md-icon style="float:right;" class="md-accent md-36 icon-office-40"></md-icon>
              </span>
            </div>
            <div layout="row">                           
              <p style="color:#FFFFFF">We're a very closely knit team who like to work hard and play hard. Over the years most team memebrs have grown very close to each other and often go on outings outside work. There is a healthy attitude of collaboration and covering for one another. We would love to see someone who can fit into this culture come onboard in this new role.</p>              
            </div>
            <div layout="row" >
              <p style="font-size:14px;display:block;color:#FFFFFF">- Rob Watson, Hiring Manager</p>  
            </div>
          </div>
        </div>     
        <!-- END Team Comment -->
        <!-- Recruiter Brand -->
        <div id="teamsComments" layout="row" style="padding:20px;margin-top:50px;background:rgba(60, 63, 64, 0.9);">
          <div flex layout="column">      
            <p style="color:#FFFFFF;text-align:justify;"><span style="color:rgb(255,64,129)">Beth McGuire </span> <md-icon style="float:right;" class="md-accent md-18 icon-socialmedia-05"></md-icon></p>
            <p style="margin-top:0px;color:#FFFFFF;text-align:justify;">Beth works as a Financial Technology Specialist at Talen Start Recruitment. She has over 10 years of expereince advising and guiding candidates towards the next step up in their career.</p>
            <p>Beth is available to help you out with any questions you may have about this position or your career.</p>
          </div>
        </div>
        <!-- END Recruiter Brand -->
      </div>
      <!-- END Content Right Column -->
    </div>
    <!-- END Speck -->
    <div id="applyNow" class="apply non-sticky">
      <div layout="row" style="padding-left:20px;color:#FFFFFF">
        <p>£60,000 p.a.</p>
        <p style="position:absolute;right:20px;">Permanent | Full Time</p>
      </div>
      <div id="map" layout="row" sytle="padding:40px">
        
      </div>
      <div layout="row" style="position:absolute;bottom:20px;width:100%">
        <label style="margin:0 auto;padding:5px 20px;" class="md-primary md-raised md-button" md-ink-ripple for="file-input">
          <span>Upload Resume & Apply</span>
        </label>
        <input id="file-input" type="file">
      </div>
    </div>
    <!--div id="toolbar" class="toolbar hide">
      <md-toolbar style="background:rgba(60, 63, 64,0.98);min-height:50px;height:50px;">
        <div class="md-toolbar-tools">
          <h2><span></span></h2>
          <span flex></span>
        </div>
      </md-toolbar>
    </div-->
    <div id="chatNow" class="chatNow">
      <md-button class="md-fab" aria-label="Chat Now">
            <md-icon class="material-icons">chat</md-icon>
      </md-button>
    </div>
  </div>
  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/jquery.inview/jquery.inview.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="/bower_components/gmaps/gmaps.min.js"></script>  
  <script src="/invite-js/custom-ngmd.js"></script>
</body>
</html>