<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Specky</title>
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/rdash-ui/dist/css/rdash.min.css">
    <link rel="stylesheet" type="text/css" href="/manual_components/animate-css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,700' rel='stylesheet' type='text/css'>
    <!-- endbuild -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.inview/jquery.inview.js"></script>
    <!-- endbuild -->
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/main-js/main.js"></script>
</head>

<body>
    <div id="content-wrapper" style="background:url('/main-img/black_mamba.png');background-repeat:repeat;">
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#2C2B2B;border-color:#515151;min-height:80px;display:none;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Specky" src="/main-img/specky.png" style="position: absolute;top:0;left:0;">
                    </a>
                </div>
                <!--div style="float:right;padding:20px;">
		<button class="btn" type="submit" style="background: url('/main-img/specky-button-3.png') no-repeat scroll 0 0 transparent;width:205px;height:76px;"></button>	
		</div-->

            </div>
        </nav>
        <div id="page-wrapper" style="padding-right:50px;padding-left:50px;padding-top:70px;box-shadow: 10px 10px 5px #2C2B2B;">
            <div class="specky-yellow-wrap" style="background-color:#FFEE3F;box-shadow: 10px 10px #2F2E2E;">
                <div id="hero" class="row" style="padding:20px 50px;">
                    <div class="col-md-3">
                        <img src="/main-img/ninja.png">
                    </div>
                    <div class="col-md-8" style="float:right;padding-top:20px;">
                        <div class="row">
                            <img alt="Specky" src="/main-img/specky-5.png">
                        </div>
						<div class="row" style="padding-top:10px;font-family:Open Sans;font-size:25px;font-weight:600;color:#BC1727;font-style:italic">
						Intelligent Job Specs
						</div>
                        <div class="row" style="font-family:Open Sans;font-size:25px;color:rgb(68, 67, 67);padding-top:30px;">
                            <p>Share Job Specs Privately. Have live discussions with candidates and address their concerns in real-time. Get live notifications on who's viewing your specs when.</p>
                        </div>
                        <div class="row" style="padding-top:20px;font-family:Open Sans;font-size:25px;font-weight:400;color:#BC1727;font-style:italic">
							<p>Improve Candidate Response Rate by upto 60-70%</p>
                        </div>
                    </div>
                </div>
                <div id="break" class="row" style="background:url('/main-img/pw_maze_black.png');background-repeat:repeat;padding:30px;padding-top:50px;">
                    <div class="col-md-2">
                        <img src="http://api.randomuser.me/portraits/med/women/39.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
                    </div>
                    <div class="col-md-6" style="padding-top:20px;color:white;font-family: Open Sans;font-style: Italic;font-size: 20px;font-weight:300">
                        <p>"With Specky we've seen the prospect response rate go up by atleast 60%. Its very effective and extremely simple to use"</p>
                        <p style="font-size:15px;font-style:normal;">Melanie Simmons, HR, Netdev Sys</p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn" type="submit" style="background: url('/main-img/specky-button-2.png') no-repeat scroll 0 0 transparent;width:344px;height:142px;float:right;"></button>
                    </div>
                </div>
                <div id="features" class="row" style="background-color:black;height:500px;">
                    <div class="col-md-12">

                    </div>
                </div>
                <div id="features" class="row" style="background-color:black;height:500px;">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->
</body>

</html>